html, body {
    background-color: rgb(165, 237, 228);
    position: relative;
    width: 1440px;
    height: 900px;
}
p {
    position: absolute;
    width: 590px;
    height: 60px;
    left: 814px;
    top: 45px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: right;
    color: #33ABB2;
}
h1 {
    position: absolute;
    width: 770px;
    height: 130px;
    left: 634px;
    top: 145px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #000000;
}
h2 {
    position: absolute;
    width: 770px;
    height: 392px;
    left: 629px;
    top: 299px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #000000;
}
.square {
    position: absolute;
    width: 305px;
    height: 305px;
    left: 44px;
    top: 45px;
    background-color: #33ABB2;
}
a:link {
    color:#33ABB2;
}
a:visited {
    color: #33ABB2;
}
a:hover {
    color: #33ABB2;
}
a:active {
    color: #33ABB2;
}
.square2 {
    position: absolute;
    width: 215px;
    height: 215px;
    left: 361px;
    top: 45px;
    background: #33ABB2;    
}
.square3 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 361px;
    top: 275px; 
    background: #33ABB2;
}
.square4 {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 239px;
    top: 363px; 
    background: #33ABB3;
}
.square5 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1254px;
    top: 551px;
    background: #33ABB3;
}
.square6 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1254px;
    top: 715px;
    background: #33ABB3;
}
.square7 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1092px;
    top: 715px;
    background: #33ABB3;
}